# Mac
.DS_Store

# Logs
logs
*.log

# JetBrains
.idea
*.iml

# Compiled/intermediate files
target/
dependency-reduced-pom.xml

# Cross-SDK Features description files
src/test/java/features
eyes.selenium.java/src/main/node_resources/node_modules/
eyes.selenium.java/src/main/resources/captureDom.js
eyes.selenium.java/src/main/resources/processPage.js
eyes.selenium.java/src/main/resources/processPageAndSerialize.js
eyes.selenium.java/src/main/resources/processResource.js
