<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" parallel="tests">
    <test name="Test_WEB" parallel="instances">
        <classes>
            <class name="com.applitools.eyes.selenium.TestClassicApi" />
            <class name="com.applitools.eyes.selenium.TestFluentApi" />
            <class name="com.applitools.eyes.selenium.TestSpecialCases" />
            <class name="com.applitools.eyes.selenium.TestClassicRunner" />
            <class name="com.applitools.eyes.selenium.TestBatchSequenceName" />
            <class name="com.applitools.eyes.selenium.TestSeleniumEyesWithNullRunner" />
        </classes>
    </test>
    <test name="Test_VG" parallel="instances">
        <classes>
            <class name="com.applitools.eyes.renderingGrid.TestVGDemo" />
            <class name="com.applitools.eyes.renderingGrid.TestTopSites" />
            <class name="com.applitools.eyes.renderingGrid.TestRenderingGridServiceWithJsHook" />
            <class name="com.applitools.eyes.renderingGrid.TestSVGSites" />
            <class name="com.applitools.eyes.renderingGrid.TestVGWithJunit"/>
            <class name="com.applitools.eyes.renderingGrid.TestAbortVG"/>
            <class name="com.applitools.eyes.renderingGrid.TestVGExceptionInRegion"/>

        </classes>
    </test>
    <test name="Test_Mobile" parallel="methods">
        <classes>
            <class name="com.applitools.eyes.selenium.MobileNativeTests"/>
        </classes>
    </test>
</suite>
