<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Demo" verbose="1" parallel="tests">
    <test name="Demo_Tests" parallel="instances" thread-count="10">
        <classes>
            <class name="com.applitools.eyes.demo.TestISeleniumVGEyesSelenium" />
            <class name="com.applitools.eyes.demo.TestVGEyes" />
        </classes>
    </test>
</suite>
